@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

/* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

button {
  cursor: pointer;
}

body * {
  box-sizing: border-box;
  outline: none;
}

.main-body__title, .header__button {
  background-color: #A8EAFF;
  text-align: center;
  border-radius: 9px;
}

@media (max-width: 970px) {
  .main__img {
    display: none;
  }

  .main__body {
    margin: 0px auto;
  }
}
body {
  font-family: "Port Lligat Slab", serif;
  font-weight: 400px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}

.header {
  height: 100vh;
  width: 100%;
  background: url(../img/header.png), url(../img/h-bg.png);
  background-position: center;
  background-size: cover;
  color: #ffff;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}

.header-menu__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.header-menu__list {
  font-size: 28px;
  line-height: 30px;
}
.header-menu__list li {
  display: inline;
  padding: 0px 14px;
}

.header-menu__street {
  font-size: 22px;
  line-height: 23px;
}

.header__body {
  text-align: center;
}

.header__title {
  font-size: 139px;
  line-height: 149px;
  padding-top: 250px;
}

.header__subTitle {
  font-size: 46px;
  line-height: 49px;
  padding-bottom: 65px;
}

.header__button {
  margin: 0px auto;
  color: #000000;
  font-size: 45px;
  line-height: 48px;
  max-width: 320px;
  padding: 10px 0px;
}

.main {
  background: #E5E5E5;
}

.main__title {
  font-size: 100px;
  line-height: 107px;
  text-align: center;
  color: #000000;
}

.main_row {
  display: flex;
}

.main__body {
  padding: 40px 15px;
}

.main-body__title {
  font-size: 41px;
  line-height: 44px;
  color: #000000;
  background-color: #BFF0FF;
}

.main-body__text {
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #FFF3F9;
  max-width: 274px;
  padding: 25px;
}