@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

button {
  cursor: pointer;
}

body * {
  box-sizing: border-box;
  outline: none;
}

.main-body__title, .header__button {
  background-color: #A8EAFF;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0px 3.67177px 3.67177px rgba(0, 0, 0, 0.25);
}

.contact__two hr, .contact__one hr {
  max-width: 80%;
  margin: 0px auto;
  border: 1px solid #000000;
}

@media (max-width: 970px) {
  .main__img {
    display: none;
  }

  .main {
    background: none;
  }
}
body {
  font-family: "Port Lligat Slab", serif;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}

.header {
  height: 100vh;
  width: 100%;
  background: url(../img/header.png), url(../img/h-bg.png);
  background-position: center;
  background-size: cover;
  color: #ffff;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}

.header-menu__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.header-menu__list {
  font-size: 28px;
  line-height: 30px;
}
.header-menu__list li {
  display: inline;
  padding: 0px 14px;
}

.header-menu__street {
  font-size: 22px;
  line-height: 23px;
}

.header__body {
  text-align: center;
}

.header__title {
  font-size: 139px;
  line-height: 149px;
  padding-top: 250px;
}

.header__subTitle {
  font-size: 46px;
  line-height: 49px;
  padding-bottom: 65px;
}

.header__button {
  margin: 0px auto;
  color: #000000;
  font-size: 45px;
  line-height: 48px;
  max-width: 320px;
  padding: 10px 0px;
}

.main {
  background: #E5E5E5;
  width: 100%;
  height: 100%;
  background: url(../img/Ellipse.png) 100% 10% no-repeat, url(../img/Ellipse2.png) 0% 50% no-repeat, url(../img/Ellipse.png) 100% 100% no-repeat;
}

.main__title {
  font-size: 100px;
  line-height: 107px;
  text-align: center;
  color: #000000;
  padding: 80px 0px;
}

.main_row {
  display: flex;
  width: 100%;
}

.main__body {
  margin: 0px auto;
  padding: 60px 20px;
  width: 50%;
}

.main-body__title {
  margin: 0px auto;
  font-size: 41px;
  line-height: 44px;
  max-width: 274px;
  color: #000000;
  background-color: #BFF0FF;
  padding: 10px 0px;
  position: relative;
  top: 13px;
}

.main-body__text {
  margin: 0px auto;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  max-width: 602px;
  color: #000000;
  background-color: #FFF3F9;
  border-radius: 9px;
  padding: 35px 35px;
}

.main__img {
  max-width: 605px;
}

.services {
  background: linear-gradient(180deg, #FFE2F0 0%, rgba(255, 226, 240, 0) 100%);
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.services__title {
  text-align: center;
  font-size: 100px;
  line-height: 107px;
  color: #000000;
}

.services-title___hr {
  border: 2px solid #000000;
}

.services___body {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}

.services-column__title {
  font-size: 64px;
  line-height: 69px;
  text-align: center;
  color: #000000;
  padding: 40px 0px;
}

.services-column___hr {
  border: 1px solid #000000;
  max-width: 40%;
  margin: 0px auto;
}

.services__column {
  font-size: 48px;
  line-height: 51px;
  color: #000000;
}
.services__column p {
  margin: 20px 0px;
  padding: 15px;
  background: #A8EAFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services__column p span {
  float: right;
}

.team {
  padding: 55px 0px;
}

.team__title {
  font-size: 100px;
  line-height: 107px;
  text-align: center;
  color: #000000;
  padding-bottom: 40px;
}

.team__body {
  display: flex;
  justify-content: space-between;
}

.team__slider {
  padding-left: 5px;
}
.team__slider:first-child {
  padding-left: 0px;
}

.team__img {
  max-width: 370px;
  width: 100%;
  background-color: #ffa7d2;
  padding: 30px 20px 30px 20px;
}
.team__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__img1 {
  padding: 30px 20px 30px 0px;
}

.team__img3 {
  padding: 30px 0px 30px 20px;
}

.team__name h4 {
  font-size: 43px;
  line-height: 46px;
  text-align: center;
  color: #000000;
  padding-top: 15px;
}
.team__name p {
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.reviews {
  background: #FFD9EB;
}

.reviews___title {
  font-size: 100px;
  line-height: 107px;
  text-align: center;
  color: #000000;
  padding: 40px 0px;
}

.reviews__column {
  display: flex;
  flex-direction: column;
}

.reviews__img {
  margin: 0px auto;
  max-width: 300px;
  max-height: 300px;
}
.reviews__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__body {
  padding: 10px 0px 60px 0px;
}

.reviews__name {
  text-align: center;
  font-size: 68.5802px;
  line-height: 73px;
  color: #000000;
}

.reviews__text {
  text-align: center;
  font-size: 47px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #000000;
}

.contact {
  background: #E5E5E5;
  width: 100%;
  height: 100%;
  background: url(../img/EllipseBlueBig.png) 100% 10% no-repeat, url(../img/Ellipse2.png) 0% 50% no-repeat;
  padding-top: 100px;
}

.contact__title {
  text-align: center;
  font-size: 44px;
  line-height: 47px;
  padding: 10px 0px;
  color: #000000;
}

.contact__one {
  font-size: 38px;
  line-height: 41px;
  letter-spacing: 0.055em;
  text-align: center;
  color: #000000;
  background: #FFD9EB;
  box-shadow: 0px 4.61714px 4.61714px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  max-width: 524px;
}
.contact__two {
  font-size: 44px;
  line-height: 47px;
  color: #000000;
  background: #C0E8FF;
  box-shadow: 0px 4.61714px 4.61714px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  max-width: 524px;
}
.contact__instagram {
  background: url(../img/inst.png);
  background-position: left;
  background-repeat: no-repeat;
  padding: 10px;
}

.contact__facebook {
  background: url(../img/face.png) left no-repeat;
  padding: 10px;
}

.contact__copy {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  opacity: 0.5;
  padding-bottom: 20px;
}