//font
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');
@import "nullstyle.scss";

%blueBlock{
	background-color:  #A8EAFF;
	text-align: center;
	border-radius: 9px;
	box-shadow: 0px 3.67177px 3.67177px rgba(0, 0, 0, 0.25);
}
%contactHr{
		max-width: 80%;
		margin: 0px auto;
		border: 1px solid #000000;
}


body{
	font-family: 'Port Lligat Slab', serif;
	font-weight: 400;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	height: 100%;
}
.content {}
.header {
	height: 100vh;
	width: 100%;
	background:url(../img/header1.png), url(../img/h-bg.png);
	background-repeat: no-repeat;
	background-position: center;
   background-size: cover;
	color: #ffff;

}
.container {
	max-width: 1240px;
	margin: 0px auto;
}
.header-menu__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;


	padding-top: 20px;
}
.header-menu__logo {}
.header-menu__list {
	font-size: 28px;
	line-height: 30px;
	li{
		display: inline;
		padding: 0px 14px;
	}
}
.header-menu__street {
	font-size: 22px;
	line-height: 23px;
}
.header__body {
	// max-width: 1440px;
	// margin: 0px auto;
	text-align: center;
}
.header__title {
	font-size: 139px;
	line-height: 149px;

	padding-top: 250px;
}
.header__subTitle {
	font-size: 46px;
	line-height: 49px;

	padding-bottom: 65px;
}
.header__button {
	margin: 0px auto;

	color: #000000;
	font-size: 45px;
	line-height: 48px;

	max-width: 320px;
	@extend%blueBlock;
	padding: 10px 0px;

	&:hover{
		background-color: #94d0e3;
		position: relative;
		bottom: 3px;
		transition: all 2s;
	}
	&:active{
		background-color:  #A8EAFF;
		position: relative;
		top: 3px;
		transition: all 2s;
	}

}

////////
.main {
	background: #E5E5E5;
	width: 100%;
	height: 100%;
	background: url(../img/Ellipse.png) 100% 10% no-repeat, url(../img/Ellipse2.png) 0% 50% no-repeat, url(../img/Ellipse.png) 100% 100% no-repeat ;


}
.main__title {
	font-size: 100px;
	line-height: 107px;
	text-align: center;

	color: #000000;
	padding: 80px 0px;

}
.main_row {
	display: flex;
	width: 100%;
	// height: 33%;
}
.main__body {
	margin: 0px auto;
	padding: 60px 20px;
	width: 50%;
}
.main-body__title {
	margin: 0px auto;
	font-size: 41px;
	line-height: 44px;
	max-width: 274px;

	color: #000000;

	background-color: #BFF0FF;
	@extend%blueBlock;
	padding: 10px 0px;

	position: relative;
	top:13px;
}
.main-body__text {
	margin: 0px auto;
	font-size: 34px;
	line-height: 36px;
	text-align: center;
	max-width: 602px;
	// width: 100%;

	color: #000000;

	background-color: #FFF3F9;
	border-radius: 9px;
	padding: 35px 35px;

}
.main__img {
	max-width: 605px;
}
////////
.services {
	background: linear-gradient(180deg, #FFE2F0 0%, rgba(255, 226, 240, 0) 100%);
	width: 100%;
	height: 100%;
	padding-top: 30px;

}
.services__title {
	text-align: center;
	font-size: 100px;
	line-height: 107px;

	color: #000000;
	// padding-bottom: 85px;

}
.services-title___hr{
	border: 2px solid #000000;
	// max-width: 50%;
}

.services___body {
	display: flex;
	flex-direction: column;
	padding: 0px 5px;
	// margin: 0px auto;
}
.services-column__title {
	font-size: 64px;
	line-height: 69px;
	text-align: center;

	color: #000000;
	padding: 40px 0px;
}

.services-column___hr{
	border: 1px solid #000000;
	max-width: 40%;
	margin: 0px auto;
}
.services__column {
	font-size: 48px;
	line-height: 51px;

	color: #000000;
	
	p{
		margin: 20px 0px;
		padding: 15px;
		background: #A8EAFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		span{
			float: right;
		}
	}

}
//////

.team {
	
	padding: 55px 0px;
}
.team__title {
	font-size: 100px;
	line-height: 107px;
	text-align: center;

	color: #000000;
	padding-bottom: 40px;

}
.team__body {
	display: flex;
	justify-content:space-between;
}
.team__slider {
	padding-left: 5px;
	&:first-child{
		padding-left: 0px;
	}
}
.team__img {
	max-width: 370px;
	width: 100%;
	background-color: #ffa7d2;
	padding: 30px 20px 30px 20px;
	img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.team__img1{
	padding: 30px 20px 30px 0px;
}
.team__img3{
	padding: 30px 0px 30px 20px;
}
.team__name {
	h4{
	font-size: 43px;
	line-height: 46px;
	text-align: center;

	color: #000000;
	padding-top: 15px;
	}
	p{
	font-size: 25px;
	line-height: 27px;
	text-align: center;

	color: #000000;
	}
}

////////
.reviews {
	background: #FFD9EB;
}
.reviews___title {
	font-size: 100px;
	line-height: 107px;
	text-align: center;

	color: #000000;

	padding: 40px 0px;

}
.reviews__column {
	display: flex;
	flex-direction:column;
	// margin: 0px auto;
}
.reviews__img{
	margin: 0px auto;
	max-width: 300px;
	max-height: 300px;
	// padding: 10px 0px;
	img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.reviews__body{
	padding: 10px 0px 60px 0px;
}
.reviews__name {
	text-align: center;
	font-size: 68.5802px;
	line-height: 73px;

	color: #000000;
}
.reviews__text {
	text-align: center;
	font-size: 47px;
	line-height: 51px;
	text-align: center;
	letter-spacing: 0.025em;

	color: #000000;

}
////////

.contact {
	background: #E5E5E5;
	width: 100%;
	height: 100%;
	background: url(../img/EllipseBlueBig.png) 100% 10% no-repeat, url(../img/Ellipse2.png) 0% 50% no-repeat;
	padding-top: 100px;
}
.contact__title{
	text-align: center;
	font-size: 44px;
	line-height: 47px;
	padding: 10px 0px;

	color: #000000;
}

.contact__one {
	font-size: 38px;
	line-height: 41px;
	letter-spacing: 0.055em;
	text-align: center;

	color: #000000;
	background: #FFD9EB;
	box-shadow: 0px 4.61714px 4.61714px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 15px;
	padding: 15px;

	max-width: 524px;
	hr{
	@extend%contactHr;
	}
	

}
.contact__two {
	font-size: 44px;
	line-height: 47px;

	color: #000000;
	background: #C0E8FF;
	box-shadow: 0px 4.61714px 4.61714px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border-radius: 10px;
	margin: 15px;
	padding: 15px;
	text-align: center;

	max-width: 524px;
	hr{
	@extend%contactHr;
	}
}
.contact__instagram{
		background: url(../img/inst.png);
		background-position: left;
		// background-size: cover;
		background-repeat: no-repeat;
		padding: 10px;
	}
.contact__facebook{
	background: url(../img/face.png) left  no-repeat;
	padding: 10px;
}
.contact__instagram {}
.contact__facebook {}
.contact__copy {
	font-size: 24px;
	line-height: 26px;

	color: #000000;
	opacity: 0.5;

	padding-bottom: 20px;
}




////////
@media(max-width: 992px){
	.container {
		max-width: 992px;
		margin: 0px auto;
}
	.header__title {
		padding-top: 150px;
		& h1{
			font-size: 75px;
			line-height: 80px;
			}
	}
	.main__img{
		display: none;
	}
	.header-menu__list{
		display: none;
	}
	.header-menu__street{
		display: none;
	}
	.header-menu__burger{
		cursor: pointer;
		position: relative;
		width: 40px;
		height: 35px;
		display: block;
		// margin-left: 10px;
		}
	.header-menu__burger span, .header-menu__burger:after, .header-menu__burger:before{
		height: 3px;
		width: 90%;
		position: absolute;
		background: #FFFFFF;
		margin: 0 auto;
		}
	.header-menu__burger span{
		top: 16px;
	}
	.header-menu__burger:after, .header-menu__burger:before{
		content: '';
	}
	.header-menu__burger:after{
		bottom: 5px;
	}
	.header-menu__burger:before{
		top: 5px;
	}
	.header__subTitle p{
		font-size: 25px;
		line-height: 27px;
	}
	.header__button {
		max-width: 210px;
		font-size: 30px;
		line-height: 32px;
	}
//////////////////////
	.main{
		background: url(../img/Ellipse2.png) 0% 0%/60% no-repeat, url(../img/Ellipse.png) 100% 100%/60% no-repeat;
	}
	.main__title {
		padding: 40px 0px;
		& h2{
			font-size: 60px;
			line-height: 64px;
			}
	}
	.main__body{
		padding: 25px 10px;
	}
	.main-body__title{
		max-width: 210px;
		font-size: 35px;
		line-height: 37px;
			}
	.main-body__text{
		font-size: 29.9293px;
		line-height: 32px;
		max-width: 530px;
	}
////////
	.services__title h2{
		font-size: 60px;
		line-height: 64px;
	}
	.services-column__title{
		font-size: 40px;
		line-height: 43px;
	}
	.services-title___hr{
		max-width: 90%;
		margin: 0px auto;
		border: 1px solid black;
	}
	.services-column___hr{
		border: 1px solid #000000;
		max-width: 20%;
		margin: 0px auto;
	}
	.services__column{
		font-size: 29px;
		line-height: 30px;
	}
}

@media(max-width: 767px){
	.header {
		height: 100%;
		padding-bottom: 20px;
	}
	.header-menu__row {
		padding-top: 10px;
	}
	.header__title{
		padding-top: 30px;
	 & h1{
		font-size: 32px;
		line-height: 34px
			}
	}
	.header__subTitle{
		padding-bottom: 20px;

	& p{
		font-size: 11px;
		line-height: 12px;
		}
	}
	.header__button {
		max-width: 177px;
		font-size: 17px;
		line-height: 18px;
		margin-top: 10px;
	}
	////////
	.main{
		background: url(../img/Ellipse2.png) 0% 0%/40% no-repeat, url(../img/Ellipse.png) 100% 100%/40% no-repeat;
	}
	.main__title {
				padding: 20px 0px;
			& h2{
				font-size: 30px;
				line-height: 32px;
				}
	}
	.main__body{
				padding: 10px 5px;
			}
			.main-body__title{
				max-width: 80px;
				font-size: 13px;
				line-height: 14px;
			}
			.main-body__text{
				font-size: 11.3522px;
				line-height: 12px;;
				max-width: 161px;
				padding: 15px 15px;
			}


}